@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@layer components {
  .item-name {
    @apply uppercase w-24
  }
  .li-open-bg {
    @apply bg-indigo-900
  }
  .collapse-menu-item {
    @apply flex text-white ml-1 py-1
  }
}

@layer Pages {
  .home-container {
    @apply bg-purple-300 absolute top-0 bottom-0 right-0 w-full
  }
}

.productcard-wrapper {
  height: 32rem;
  width: 28rem;
  border-radius: 0.5rem;
}

.card-left {
  height: 32rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-right {
  height: 32rem;
  width: 24rem;
}

.card-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.card-icon{
  font-size: 2rem!important;
}
ul {
  padding-left: 0px !important;
}

ul a, div a {
  text-decoration: none;
}
