@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}





.card-left {
  height: 34rem;
  width: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-icon{
  font-size: 1.5rem!important;
  margin-right: 0.5rem;
}
.social-icon {
  font-size: 3rem!important;
}

.card-content {
  height: 30rem;
  width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div a, a {
  text-decoration: none;
}
